

*{
    margin: 0;
    padding: 0;
    margin-right: 0px;
    box-sizing: border-box;
}

body{
   overflow-x: hidden;
}

/* Navigation */
 img{
   width: 445px;
   padding-top: 15px;
}

.media{
    margin-left: 120px;
    font-size: 1.3rem;
    color: #01124a;
    column-gap: 40px;
    margin-top: 40px;
}

.connect{
    margin-left: 120px;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    margin-top: 13px;
}

.form-group i{
    margin-left: 490px;
    margin-top: 20px;
    position: absolute;
    z-index: 2;
    display: block;
    width: 3.375rem;
    height: 3.375rem;
    text-align: center;
    pointer-events: none;
    color: rgb(26, 26, 26);
}    

.toggle-button {
    height: 20%;
    width: 90%;
    margin-top: 35px;
    margin-left: 90px;
}

.form-control {
    display: block;
    padding: .375rem 2.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;;
    background-clip: padding-box;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    margin-top: 35px;
    height: 3.695rem;
    width: 105% !important;
    margin-left: 205px;
    border: none;
    background-color: rgb(245, 243, 243);
}

 /* Top navbar */
nav{
    background: #01124a;
    z-index: 999;
    width: 100%;
    height: 50px;
    line-height: 50px;
    margin-top: -85px;
}

nav .wrapper{
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.wrapper .nav-links{
    display: inline-flex;
}

.nav-links li{
    list-style: none;
}

.nav-links li a{
    color: #fff;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: 500;
    padding: 25px;
    padding-left: 40px;
    transition: all 0.4s;
}

.nav-links li a:hover {
    color: #999;
}

.nav-links .mega-box{
    background: #01124a;
    position: absolute;
    display: flex;
    width: 750px;
    height: 250px;
    transition: all 0.4s ease;
    margin-left: 30px;
    z-index: 2 !important;
    visibility: hidden;
}

.nav-links li:hover .mega-box{
    visibility: visible;
}

.mega-box {
    position: absolute;
    top: 51px;
    width: 100%;
    left: 0;
}

.mega-box .content{
    background: #01124a;
    display: flex;
}

.content .row .mega-links{
    border-left: 2px solid rgba(255, 255, 255, 0.897);
    margin-left: 15px;
}

.second li a{
    margin-left: 10px;
}

.third li a{
    margin-left: 12px;
}

.fourth li a{
    margin-left: 10px;
}

 /* Top carousel */
.carousel-item h5{
    color: black;
    font-size: 4vw;
    line-height: 50px;
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

.carousel-item p{
   color: black;
   line-height: 40px;
   font-size: 4vw;
   font-weight: 100;
   text-align: left;
}

.rack{
   margin-left: 700px;
   position: relative;
   margin-top: -500px;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
    height: 50px ;
    width: 45px ;
    display: inline-block;
}

.carousel-indicators{
    position: absolute;
    justify-content: center;
    margin-left: 15%;
    margin-right: 15%;
    right: 0;
    bottom: 0;
    top: 600px;
}

.carousel-caption a{
    background-color: #01124a;
    color: #fff;
   padding-left: 10px;
   padding-right: 10px;
   padding-top: 5px;
   padding-bottom: 5px;
   text-decoration: none;
}

.carousel-indicators button{
    background-color: #01124a;
    box-sizing: content-box;
    flex: 0 1 auto;
    width: 30px;
    height: 3px;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
    cursor: pointer;
    background-clip: padding-box;
}




/* our quality section */
#quality {
    text-align: center;
    color: black;
    margin-top: 40px;
}

#quality h1{
    font-size: 40px;
    font-weight: 400;
}

#quality .lead {
    font-size: 18px ;
    font-weight: lighter;
    line-height: 30px;
}

#quality p{
    margin-top: 40px;
}

.qua-c img {
    width: 99%;
}

img {
    vertical-align: middle;
    border-style: none;
}

a {
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
}

/* best seller section */
.fade {
    display: none;
    transition: opacity .15s linear;
}

.row {
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.project-tab #tabs .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    border-bottom: 4px solid !important;
    font-size: 40px;
    color: #01124a;
    background-color: #fff;
    border-color:  #f3f3f3;
    font-weight: 400;
}

.project-tab{
    margin-top: 100px;
}

.project-tab .nav-link {
    border: 1px solid transparent;
    font-size: 40px;
    color: #01124a;
    background-color: #fff;
    font-weight: 400;
}

.project-tab a {
    text-decoration: none;
    color: #ffffff;
    font-weight: 400;
}

.nav-fill .nav-item {
    flex: 1 1 auto;
    text-align: center;
    border-radius: 0;
    border: none;
}

.nav-tabs .nav-item {
    margin-bottom: 1px;
}

.nav-link:focus, .nav-link:hover {
    text-decoration: none;
}

.hot-f-50 img {
    position: absolute;
    padding-right: 30px;
    right: 2px;
    left: 15px;
    height: 620px;
    margin-top: 10px;
    width: 100%;
}

.hot-f-50 {
    text-align: center;
}

.hot-f-50 h1 {
    font-size: 45px;
    margin-top: 350px;
    font-weight: 500;
    line-height: 1.2;
}

.hot-f-50 h2 {
    text-align: center;
    font-weight: 300;
    font-size: 35px;
    line-height: 1.2;
}

.hot-f-50 h3 {
    padding: 5px;
    border: 2px solid red !important;
    margin: 0 auto;
    line-height: 1.2;
    font-size: 16px;
    font-weight: 600;
    width: 230px;
    margin-top: 20px;
}

.hot-f-50 a{
    font-size: 15px;
    background-color: #01124a;
    border: 0px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.hot-s-img img {
    width: 100%;
    margin-top: 10px;
}

.hot-s-img h1{
    font-weight: 400;
    margin-top: 40px;
    position: absolute;
    font-size: 35px;
    width: 40%;
    margin-left: 5%;
}

.hot-s-img a{
    border-radius: 0px;
    border: 0px;
    background-color: #01124a;
    color: #fff;
    font-size: 10px;
    margin-top: 40%;
    margin-left: 4%;
    font-weight: lighter;
    background-image: url(arrow1.webp);
    background-position: 80px;
    padding: 10px;
    background-repeat: no-repeat;
    padding-right: 50px;
    padding-left: 20px;
    position: absolute;
   font-family: 'Montserrat', sans-serif;
}

.hot-t-img img{
   width: 100%;
   height: 314px ;
   margin-top: 10px;
}

.hot-t-img a{
    border-radius: 0px;
    border: 0px;
    background-color: #01124a;
    color: #fff;
    font-size: 10px;
    margin-top: 40%;
    margin-left: 4%;
    font-weight: lighter;
    background-image: url(arrow1.webp);
    background-position: 80px;
    padding: 10px;
    background-repeat: no-repeat;
    padding-right: 50px;
    padding-left: 20px;
    position: absolute;
    font-family: 'Montserrat', sans-serif;
}

.over .btn{
    border: none;
    font-weight: 600;
    border-radius: 0;
    margin-top: 5%;
    margin-bottom: 3%;
    color: #001747;
    padding-top: 13px;
    padding-bottom: 13px;
    padding-left: 50px;
    padding-right: 50px;
    font-size: 14px;
    background-color: #EBEAF0;
}
 
 /* middle banner section */
 .banner {
    width: 100%;
    height: 400px;
    background-image: url(homebanner.webp);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.banner1 h1 {
    width: 75%;
    margin-top: 10%;
    font-size: 50px;
    margin-left: 20%;
    color: #fff;
    font-weight: 400;
    line-height: 1.2;
}

.banner1 h3 {
    color: #fff;
    text-transform: initial;
    font-weight: 200;
    font-size: 35px;
    width: 55%;
    margin-left: 20%;
}

.banner2 img{
    height: 300px;
    width: 520px;
    margin-top: 6%;
    margin-right: 15%;
}

/* categories section */

.cat-f {
    background-color: #f4f4f6;
    height: 220px;
    margin-top: 6%;
    max-width: 560px;
    margin-left: 100px;
}

.cat-f h1 {
    font-size: 45px;
    width: 40%;
    margin-left: 4%;
    margin-top: 4%;
    line-height: 1.2;
    font-weight: 400;
}

.cat-f img {
    height: 160px;
    margin: 0 auto;
    bottom: 120px;
    margin-left: 12%;
    max-width: 30%;
    float: right;
    position: relative;
}

.cat-f a {
    border-radius: 0px;
    border: 0px;
    background-color: #01124a;
    color: #fff;
    font-size: 15px;
    margin-top: 4%;
    margin-left: 4%;
    font-weight: lighter;
    background-image: url(arrow1.webp);
    background-position: 120px;
    padding: 10px;
    background-repeat: no-repeat;
    padding-right: 80px;
    padding-left: 20px;
}

.col-lg-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
}

.cat-s-sub {
    height: 150px;
    margin-left: 6%;
    width: 260px;
    background-color: #f4f4f6;
    margin-top: 27.5%;
}

.cat-s-sub img {
    height: 140px;
    margin-left: 25%;
    max-width: 50%;
}

.category{
    margin-inline-start: 8px;
}

.cat-s h3, .cat-t h3 {
    font-size: 12px;
    margin-left: 48%;
    font-weight: bold;
}

 /* market section */
 #market h3 {
    font-size: 40px;
    font-weight: 400;
    margin-top: 50px;
}

.lead {
    font-size: 18px;
    line-height: 30px;
    font-weight: 300;
}

#market span {
    color: #000684;
    font-weight: 351;
}

#market h4{
    font-size: 25px;
    font-weight: 400;
}










/* our client section */
#clients h3 {
    padding-top: 5%;
    font-size: 40px;
    font-weight: 400;
    text-align: center;
}

#clients{
    background-color: #f4f4f6;
    height: 270px;
    width: 100%;
    margin-top: 2%;
}

.seven-cols img {
    height: 85px;
    width: 80px;
    margin-left: 40px;
}

.img-responsive-moon img{
    width: 60px;
}

.img-responsive-roxitta img{
    width: 100px;
}

.img-responsive-call img{
    width: 120px;
}

/* our brand */
#brands h3{
    font-size: 40px;
    font-weight: 400;
    text-align: center; 
}

.img-responsive-diary img{
    width: 100px;
}

.img-responsive-ingco img{
    width: 140px;
}

/* bottom nav section */
.foot{
    width: 100%;
    height: 400px;
    background-image: url(homebanner.webp);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 2%;
}

.footer-content h3 a {
    font-size: 23px;
    color: #fff;
    letter-spacing: 0px;
    margin-top: 25%;
    text-align: left;
}

.navbar-brand {
    margin-left: 2cm;
}

.footer-content p {
    text-align: left;
    font-size: 16px;
    font-weight: lighter;
    line-height: 22px;
    color: #fff;
}

.footer-content h3, .font-h {
    font-size: 18px;
    font-weight: 400;
    color: #fff;
    letter-spacing: 0px;
    text-align: left;
}

.footer-top .my-3{
    margin-left: 2cm;
}

.footer-w3pvt{
    margin-top: 45%;
}

.list-info-w3pvt li a {
    color: #fff;
    font-size: 0.85em;
    letter-spacing: 1px;
    font-weight: 100;
    background-color: transparent;
}

.last-w3ls-contact p {
    margin-right: 0%;
}

.footer-w3pvt li{
    list-style-type: none;
}

.w31s-icons li  span {
    color: #fff;
    margin-left: 60px;
    
}

.w31s-icons{
    display: flex;
    margin-top: 50px;
    font-size: 23px;
}

.copy-g{
    margin-left: 820px;
    position: relative;
    bottom: 1cm;
}

#glt-translate-trigger {
    background: #000559;
    left: 20px;
    right: auto;
    position: fixed;
    bottom: 0px;
    top: auto;
    z-index: 200002;
    padding: 6px 20px 3px;
    font-size: 16px;
    font-family: Arial;
    font-weight: 700;
    color: #fff;
}

#glt-translate-trigger, #glt-translate-trigger span {
    cursor: pointer;
}

 /* TROLLY SECTION */

.abanner1 img{
    width: 205%;
    height: 70%;
}

.abanner1 h1{
    position: absolute;
    font-size: 55px;
    font-weight: 600;
    margin-left: 25%;
    margin-top: 10%;
    color: #000;
}

.abanner1 h3{
    margin-top: 30%;
    position: absolute;
    color: #000;
    font-size: 35px;
    font-weight: 200;
    margin-left: 25%;
}

.abanner2 img {
    height: 320px;
    width: 350px;
    margin-top: 4%;
    margin-right: 22%;
}

/* similar products */
.card {
    outline-color: #fff;
    max-width: 300px;
    margin: auto;
    text-align: center;
    border-radius: 0;
    position: relative;
    bottom: 2cm;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
}

.card h4 {
    font-size: 25px;
}

.trolly{
    width: 295px;
    height: 275px;
}

.sim-2-star {
    height: 32px;
    width: 100px;
    margin-left: 3.5cm;
    position: relative;
    bottom: .4cm;
}

.card h6 {
    margin-right: 3.1cm;
    position: relative;
    bottom: .9cm;
    font-size: 18px;
    text-align: center;
}

.card ul li{
    font-size: 15px;
    font-weight: 400;
    text-align: left;
    margin-left: 70px;
}

.a-text-strike {
    text-decoration: line-through!important;
    font-weight: bold;
}

.sale {
    font-weight: bold;
}

.card button {
    color: #001747;
    background-color: #fff;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
    border: none !important;
    outline: none !important;
}

.card button:hover{
    color: #999;
}

.secondsim{
    margin-top: 90px;
}

.more a{
    border: none;
    font-weight: 600;
    border-radius: 0;
    margin-top: 5%;
    margin-bottom: 3%;
    color: #001747;
    padding-top: 13px;
    padding-bottom: 13px;
    padding-left: 50px;
    padding-right: 50px;
    font-size: 14px;
    background-color: #EBEAF0;
}

 /* COOKER */

.one{
    width: 200px;
    height: 190px;
    margin-left: 50px;
}

.two{
    width: 280px;
    height: 190px;
    margin-left: 10px;
}

.three{
    width: 260px;
    height: 190px;
    margin-left: 30px;
}

  /* GRILL */

.grill h1{
    font-size: 60px;
}

 /* SOAP */

.soap img {
    width: 400px;
    height: 300px;
} 

.soap1{
    width: 280px;
    height: 450px;
}

.soap2{
    width: 290px;
    height: 450px;
}

.soap3{
    width: 290px;
    height: 450px;
}

 /* MOSQUITO NET */

.net img{
   width: 450px;
}

.net1{
    width: 295px;
    height: 200px;
}

.net2{
    width: 295px;
    height: 200px;
}

.net3{
    width: 295px;
    height: 200px;
}

 /* CAREER */

.career{
    height: 100px;
}

.carebanner{
    background-image: url(image1.webp);
    height: 850px;
}

.carebanner form{
    margin-top: 40px;
}

.carebanner h5 {
    color: #000;
    font-weight: 500;
    margin-top: 2cm;
    text-align: center;
    font-size: 23px;
}

.carebanner h2 {
    color: #000;
    text-align: center;
    font-weight: 500;
}

.care-fields .input-lg {
    margin: 5px 0;
    background: #F2F1EF;
    border: 0px;
    font-weight: 600;
    padding: 25px;
    color: #757575;
    width: 35%;
    height: 57px;
    text-align: left;
}

.care-fields select {
    margin: 5px 0;
    background: #F2F1EF;
    border: 0px;
    font-weight: 600;
    padding: 25px;
    padding-top: unset;
    padding-bottom: unset;
    color: #757575;
    width: 35%;
    height: 57px;
    text-align: left;
}

div.wpcf7 input[type="file"] {
    cursor: pointer;
}

.key1 {
    border-color: #000684;
    border-style: solid;
    background: transparent;
    text-align: center;
    padding: 10px 50px;
    font-weight: 600;
    font-size: 12px;
    color: #000;
    text-transform: uppercase;
    margin: 0 auto;
    width: 35%;
}

.key2 {
    margin: 0 auto;
    background: #001747;
    text-align: center;
    padding: 10px 50px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    position: relative;
    display: inline;
    width: 35%;
}

  /* CONTACT */
.map iframe{
    margin-top: 80px;
}

.map{
    background-color: #00143C;
}

.map-text {
    color: #fff;
}

.map h4 {
    margin-top: 80px;
    padding-top: 1cm;
    color: #fff;
    font-size: 28px;
}

.map h2 {
    color: #fff;
    font-size: 50px;
    font-weight: 350;
}

.input-fields .input {
    margin: 10px 0;
    background: transparent;
    border: 0px;
    border-bottom: 1px solid #ffffff;
    padding: 13px;
    color: #ffffff;
    width: 95%;
    text-align: center;
    font-size: 16px;
    margin-left: 30px;
    margin-top: 20px;
}

.wpcf7-submit {
    background: #ffffff;
    text-decoration: none !important;
    width: 95%;
    position: relative;
    padding-top: 13px;
    padding-bottom: 13px;
    font-weight: 700;
    color: #001747;
    text-transform: uppercase;
    margin-top: .5cm;
    margin-bottom: 1cm;
    margin-left: 30px;
}

.map-2{
    background-color: #00143C;
}

  /* ABOUT */

.about h3{
    margin-top: 280px;
}

#market h3 {
    font-size: 33px;
    font-weight: 400;
    text-align: center;
}

.lead {
    font-size: 18px;
    line-height: 30px;
    font-weight: 300;
    text-align: center;
}

.aboutbanner {
    width: 100%;
    height: 250px;
    background-image: url(aboutban.webp);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.cot-f-50 img {
    height: 360px;
    width: 520px;
    margin-left: .4cm;
}

.cot-s-img img, .cot-t-img img {
    height: 273px;
    width: 540px;
    margin-bottom: 35px;
    margin-right: .4cm;
}

.cot-z-50 img {
    height: 225px;
    width: 520px;
    margin-left: .4cm;
}

 /* WASTE BIN */
.bin1 {
    width: 420px;
    height: 300px;
}

.bin2{
    width: 420px;
    height: 300px; 
}

.bin3{
    width: 420px;
    height: 300px; 
}

 /* HANGER */

.hanger1{
    width: 295px;
    height: 200px;
}

.hanger2{
    width: 295px;
    height: 200px;
}

.hanger3{
    width: 295px;
    height: 200px;
}

  /* CUTTING BOARD */

.board1{
    height: 320px;
    width: 295px;
}

.board2{
    height: 320px;
    width: 295px;
}

.board3{
    height: 320px;
    width: 295px;
}

  /* KNIFE */

.knife{
    width: 210px;
    height: 200px;
}

  /* FOOD PRODUCTS */

.food h1{
   margin-top: 3cm;
}

.food1{
    width: 290px;
    height: 300px;
}

.food2{
    width: 290px;
    height: 300px;
}

.food3{
    width: 290px;
    height: 300px;
}

  /* POWER TOOLS */

.power1{
    width: 290px;
    height: 360px;
}

.power2{
    width: 290px;
    height: 360px;
}

.power3{
    width: 290px;
    height: 360px;
}

   /* DETAILRACK */

.cysec img {
    height: auto;
    width: 100%;
    position: relative;
    padding-left: unset;
    padding-right: unset;
    padding-bottom: 31px;
}

.csec img {
    height: auto;
    width: 100%;
    position: relative;
    padding-left: 20px;
    padding-right: 20px;
}

.card-cycle h3 {
    font-size: 33px;
    margin: 0 auto;
    margin-top: 90px;
    bottom: .1cm ;
    margin-left: .3cm;
    position: relative;
    text-align: left;
}

.sim-cycle-star {
    height: 40px;
    width: 110px;
    margin-left: 3cm;
    bottom: .5cm;
}

.card-cycle h4 {
    margin-left: .3cm;
    position: relative;
    margin-bottom: .1cm !important;
    text-align: left;
    font-size: 22px;
    bottom: .7cm;
}

.card-cycle ul {
   
    font-size: 16px;
    font-weight: 700;
    margin: 0 auto;
    line-height: 1cm;
    position: relative;
    bottom: .7cm;
    text-align: left;
    margin-top: 20px;
    margin-left: 40px;
}

.a-text-strike {
    text-decoration: line-through!important;
    font-weight: bold;
    margin-left: 10px;
}

.sale {
    font-weight: bold;
    margin-left: 10px;
}

.card-amfl {
    border-color: #E7E5E2;
    max-width: 110px;
    border-style: solid;
    text-align: center;
    border-radius: 0;
    border-width: 1px;
    margin: 0 auto;
    margin-left: .8cm;
    width: auto;
}

.card-whatsapp {
    margin: auto;
    border-color: #E7E5E2;
    border-style: solid;
    max-width: 260px;
    margin-top: .1cm;
    text-align: center;
    border-radius: 0;
    border-width: 1px;
    margin-left: .8cm;
}

/*specification*/

.speci {
    text-align: center;
    margin-top: 40px;
}

.speci h4 {
    color: #001747;
    font-size: 17px;
    font-weight: 700;
}

.speci p {
    font-size: 18px;
    font-weight: 400;
}

/*banner section*/

.cyclebanner {
    width: 100%;
    height: 345px;
    background-image: url(cycle_exp.webp);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 30px;
}

.cyclebanner h1 {
    color: #fff;
    font-size: 55px;
    font-weight: 600;
    margin-top: 3.5cm;
    text-transform: uppercase;
}

.steel {
    padding-bottom: 1.7cm;
}

/*best plastic*/

.plastic img {
    width: 100%;
    height: auto;
}

.plastic h2 {
    text-align: left;
    font-size: 50px;
    padding-bottom: .5cm;
    margin-top: 1.5cm;
    margin-left: 1cm;
    font-weight: 400;
}

.plastic p {
    font-size: 21px;
    line-height: 1.2cm;
    margin-left: 1cm;
    font-weight: 330;
}

/*our clients*/

.happy h2 {
    text-align: left;
    font-size: 50px;
    padding-bottom: .5cm;
    padding-top: .5cm;
    font-weight: 400;
}

.happy p {
    font-size: 21px;
    line-height: 1.2cm;
    font-weight: 330;
}

.happy img {
    height: auto;
    width: 100%;
    margin-bottom: 1cm;
}

/*what products*/

.cycle-2-banner {
    width: 100%;
    height: 420px;
    background-image: url(cycle_what_products.webp);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.cycle-2-banner h2 {
    color: #fff;
    font-size: 48px;
    font-weight: 450;
    display: inline-block;
    width: 100%;
    margin-top: 80px;
}

.cycle-2-banner1 {
    color: #fff;
    text-align: center;
    font-size: 20px;
    font-weight: lighter;
    width: 100%;
}

/*similar products*/

.thirdsim h2{
    margin-top: 2cm;
    font-weight: 500;
    font-size: 40px;
}

.card2{
  margin-top: 2cm;
  max-width: 280px;
}

.pro1{
    width: 240px;
    height: 180px;
}

.pro2{
    width: 240px;
    height: 180px;
}

.pro3{
    width: 240px;
    height: 180px;
}

.pro4{
    width: 240px;
    height: 180px;
}

.pro5{
    position: relative;
    bottom: 1.2cm;
}

   /* PRODUCT1 */

.container-kit {
    margin-left: 2cm;
    margin-right: 2cm;
    margin-top: 20px;
}

.kit-a-sub img {
    height: auto;
    width: 100%;
    position: relative;
    z-index: -1;
}

.kit-a a {
    background-color: #F1F0EE;
    font-weight: 500;
    font-size: 18px;
    border: 0;
    border-radius: 0;
    text-align: center;
    height: auto;
    width: 100%;
    color: #000;
}


